{
  "presets": [
    "@babel/preset-env"
  ],
  "comments": false,
  "env": {
    "minify": {
      "presets": [
        "@babel/preset-env",
        [
          "babel-preset-minify"
        ]
      ]
    }
  }
}
